<%= form_for :dashboard do |f| %>

  <p>
    <%= f.label :from %>
    <%= date_field(:user, :from) %>
  </p>

  <p>
    <%= f.label :to %>
    <%= date_field(:user, :to) %>
  </p>

	<p>
		<%= f.label :Mercado %>
		<select name="post[category]">
		  <option>Venta</option>
		  <option>Alquiler</option>
		</select>
	</p>

	<p>
		<%= f.label :Tipo_de_Propiedad %>
		<%= f.collection_select :property_type_id, PropertyType.all,:id,:type %>
	</p>

	<p>
		<%= f.label :Departamento %>
		<%= f.collection_select :state_id, State.all,:id,:name %>
	</p>

		<p>
		<%= f.label :Estrato %>
		<%= f.collection_select :stratus, Property.select('stratus').uniq,:id,:stratus %>
	</p>

		<p>
		<%= f.label :Area_Construida %>
		<%= f.collection_select :built_area, Property.all,:id,:built_area %>
	</p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>