
	<!-- Filters - Side Nav Bar   -->
	<%= form_tag root_path, method: :get do %>
	<div class="row">
		<div class="col-sm-4">

				<p>
					<%= label_tag("From") %>
					<%= date_field_tag(:from) %>
				</p>

				<p>
					<%= label_tag("To") %>
					<%= date_field_tag(:to) %>
				</p>

				<p>
					<%= label_tag("Mercado") %>
					<select name="category">
						<option value="sale">Venta</option>
						<option value="rent">Alquiler</option>
					</select>
				</p>
				<p>
					<%= label_tag("Tipo_de_Propiedad") %>
					<%= select_tag "property_type_id[]", options_from_collection_for_select( PropertyType.all, "id", "type", params[:property_type_id]) %>
				</p>
				<p>
					<%= label_tag("Departamento") %>
					<%= select_tag "state_id[]", options_from_collection_for_select(State.all, "id","name", params[:state_id]) %>
				</p> 
				<p>
					<%= label_tag("Estrato") %>
					<%= select_tag "stratus[]", options_for_select([1, 2, 3, 4, 5, 6], params[:stratus]) %>
				</p>
				<p>
					<%= label_tag("Area_Construida") %>
					<%= select_tag "built_area_range[]", options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]]) %>
				</p>
				<p>
					<%= submit_tag "Submit", name: nil, class: "btn btn-primary btn-md" %>
				</p>

		</div>		<!-- end of Filters - nav-bar side  -->

		<!-- Main Graph  -->
		<div class="col-sm-8">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"> Vlr M2 sobre el tiempo</h3>
				</div>
					<div class="panel-body">
						<div id="morris-area-chart"></div>
						<%= content_tag :div, "", id: "m2_chart", data: {properties: properties_chart_data(params[:from].to_date)} %>
					</div>
				</div>
			</div>
		</div> <!-- end of Main Graph  -->

	</div>		<!-- end of row  -->

	<!-- Vs. Search Filter Table   -->
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<table class="table table-hover table-bordered table-condensed">
				  <thead>
				  	<tr class="success">
				  		<td><strong>Tu Busqueda</strong></td>
				  		<td></td>
				  		<td></td>
				  		<td></td>
				  	</tr>
				  </thead>
				  <tbody>
				    <tr class="success">
				      <td><%= select_tag nil, options_from_collection_for_select( PropertyType.all, "id", "type", params[:property_type_id]) %>
				      </td>
				      <td>
				      	<%= select_tag nil, options_from_collection_for_select(State.all, "id","name", params[:state_id]) %>
				      </td>
				      <td>
				      	<%= select_tag nil, options_for_select([1, 2, 3, 4, 5, 6], params[:stratus]) %> 
				      </td>
				      <td>
				      	<%= select_tag nil, options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]], params[:built_area_range]) %>
				      </td>
				    </tr>
				    <tr class="warning">
				    	<td><strong>Compara con otras propiedades</strong></td>
				    	<td></td>
				    	<td></td>
				    	<td></td>
				    </tr>
				    <tr class="warning">
				      <th data-field="name">Tipo de Propiedad</th>
				      <th data-field="name">Departamento</th>
				      <th data-field="name">Estrato</th>
				      <th data-field="name">Area Construida</th>
				    </tr>
				    <tr>
				    	<td>
				    		<%= select_tag "property_type_id[]", options_from_collection_for_select( PropertyType.all, "id", "type") %>
				    	</td>
				    	<td>
				    		<%= select_tag "state_id[]", options_from_collection_for_select(State.all, "id","name") %>
				    	</td>
				    	<td><%= select_tag "stratus[]", options_for_select([1, 2, 3, 4, 5, 6]) %></td>
				    	<td>
				    		<%= select_tag "built_area_range[]", options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]], params[:built_area_range]) %>
				    	</td>
				    </tr>
				  </tbody>
				</table>
			</div>
		</div> 
	</div><!-- end of container - Vs. Search Filter Table  -->
<% end %> <!-- end of form_tag  -->

	<!-- Morris Script for Graphs  -->
	<script> 
	var keys = []
	<% @properties.each_with_index do |p, i| %>
		keys.push('m2_sale_value_<%= i %>');
	<% end %>
	new Morris.Line({
		element: 'm2_chart',
		data: $('#m2_chart').data('properties'),

		xkey: 'date',
		ykeys: keys,
		labels: ['M2_Value']
	});
	</script> <!-- end of Morris Script  -->
