
<!-- Filters - Side Nav Bar   -->
<%= form_tag dashboard_path, method: :get do %>

<div class="container-dashboard">
<div class="row">
	<div class="col-sm-3">
		<div id="wrapper">
			<!-- Sidebar -->
			<div id="sidebar-wrapper" id="lateral">
				    <h3>
				        <strong>Datos de Busqueda</strong>
				    </h3>
				    
						<p>
							<%= label_tag("Desde") %> <br/>
							<%= date_field_tag(:from, params[:from].to_date) %>
						</p>

						<p>
							<%= label_tag("Hasta") %> <br/>
							<%= date_field_tag(:to, params[:to].to_date) %>
						</p>

						<p>
							<%= label_tag("Mercado") %> <br/>
							<select name="category" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								<option value="sale">Venta</option>
								<option value="rent">Alquiler</option>
							</select>
						</p>

						<p>
							<%= label_tag("Tipo_de_Propiedad") %> <br/>
							<%= select_tag "property_type_id[]", options_from_collection_for_select( PropertyType.all, "id", "type",  params[:property_type_id] ? params[:property_type_id][0] : nil), class: "btn btn-default dropdown-toggle"  %>
						</p>

						<p>
							<%= label_tag("Departamento") %> <br/>
							<%= select_tag "state_id[]", options_from_collection_for_select(State.all, "id","name", params[:state_id] ? params[:state_id][0] : nil), class: "btn btn-default dropdown-toggle" %>
						</p> 

						<p>
							<%= label_tag("Estrato") %> <br/>
							<%= select_tag "stratus[]", options_for_select([1, 2, 3, 4, 5, 6], params[:stratus] ? params[:stratus][0] : nil), class: "btn btn-default dropdown-toggle" %>
						</p>

						<p>
							<%= label_tag("Area_Construida") %> <br/>
							<%= select_tag "built_area_range[]", options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]], params[:built_area_range] ? params[:built_area_range][0] : nil), class: "btn btn-default dropdown-toggle" %>
						</p>
						<!-- First Submit Button  -->
						<p>
							<%= submit_tag "Submit", name: nil, class: "btn btn-primary btn-md"  %>
						</p>

			</div><!-- /#sidebar-wrapper -->
		</div> <!-- /#wrapper -->
	</div> <!-- /#col-sm-3 -->

		<!-- Main Graph  -->
	<div class="col-sm-6" id="grafica">
		<div class="panel panel-default">
			<div class="panel-heading" id="headergrafica">
					<h3 class="panel-title"> <strong>Valor M2 sobre el Tiempo</strong></h3>
					  <!-- <div class="col-lg-3 col-md-6"> -->
						  <button class="btn btn-success" id="botonguardar"><span class="glyphicon glyphicon-home"></span> Guardar Busqueda</button>
<!-- 						</div> -->
			</div>
				<div class="panel-body" id="lagrafica">
					<div id="morris-area-chart">
						<%= content_tag :div, "", id: "m2_chart", data: {properties: properties_chart_data(params[:from].to_date, params[:to].to_date)} %>
					</div>
				</div>
			</div>
		</div>
	</div> <!-- end of col-sm-9 Main Graph  -->
</div>		<!-- end of row  -->


<!-- botones gigantes -->
	<!-- <div class="row" id="botones">
	    <div class="col-lg-3 col-md-6">
	  	  <button class="btn btn-success" id="botonguardar"><span class="glyphicon glyphicon-home"></span> Guardar Busqueda</button>
	  	</div>
	</div> --> <!-- end of row - botones  -->


<!-- Vs. Search Filter Table   -->

	<div class="row" id="busqueda">
		<div class="col-sm-8">
			<table class="table table-hover table-bordered table-condensed">
				<thead id="headertabla">
					<tr>
						<th data-field="name"></th>
						<th data-field="name">Tipo de Propiedad</th>
						<th data-field="name">Departamento</th>
						<th data-field="name">Estrato</th>
						<th data-field="name">Area Construida</th>
					</tr>
				</thead>
				<tbody>
					<tr class="info">
						<td class="text-center"><strong>Tu Busqueda</strong></td>
						<td>
							<%= select_tag nil, options_from_collection_for_select( PropertyType.all, "id", "type", params[:property_type_id] ? params[:property_type_id][0] : nil), {:disabled => true} %>
						</td>
						<td>
							<%= select_tag nil, options_from_collection_for_select(State.all, "id","name", params[:state_id] ? params[:state_id][0] : nil), {:disabled => true} %>
						</td>
						<td>
							<%= select_tag nil, options_for_select([1, 2, 3, 4, 5, 6], params[:stratus] ? params[:stratus][0] : nil), {:disabled => true} %> 
						</td>
						<td>
							<%= select_tag nil, options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]], params[:built_area_range] ? params[:built_area_range][0] : nil), {:disabled => true} %>
						</td>
					</tr>
					<tr>
						<td style= "color: white">hola</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr class="active">
						<td class="text-center"><strong>Vs #1</strong></td>
						<td>
							<%= select_tag "property_type_id[]", options_from_collection_for_select( PropertyType.all, "id", "type", params[:property_type_id] ? params[:property_type_id][1] : nil), class: "btn btn-default dropdown-toggle" %>
						</td>
						<td>
							<%= select_tag "state_id[]", options_from_collection_for_select(State.all, "id","name", params[:state_id] ? params[:state_id][1] : nil), class: "btn btn-default dropdown-toggle" %>
						</td>
						<td><%= select_tag "stratus[]", options_for_select([1, 2, 3, 4, 5, 6], params[:stratus] ? params[:stratus][1] : nil), class: "btn btn-default dropdown-toggle" %></td>
						<td>
							<%= select_tag "built_area_range[]", options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]], params[:built_area_range] ? params[:built_area_range][1] : nil), class: "btn btn-default dropdown-toggle" %>
						</td>
					</tr>
					<tr class="success">
						<td class="text-center"><strong>Vs #2</strong></td>
						<td>
							<%= select_tag "property_type_id[]", options_from_collection_for_select( PropertyType.all, "id", "type", params[:property_type_id] ? params[:property_type_id][2] : nil), class: "btn btn-default dropdown-toggle" %>
						</td>
						<td>
							<%= select_tag "state_id[]", options_from_collection_for_select(State.all, "id","name", params[:state_id] ? params[:state_id][2] : nil), class: "btn btn-default dropdown-toggle" %>
						</td>
						<td><%= select_tag "stratus[]", options_for_select([1, 2, 3, 4, 5, 6], params[:stratus] ? params[:stratus][2] : nil), class: "btn btn-default dropdown-toggle" %></td>
						<td>
							<%= select_tag "built_area_range[]", options_for_select([["0 a 100 M2", 0], ["101 a 200 M2", 1], ["201 a 300 M2", 2]], params[:built_area_range] ? params[:built_area_range][2] : nil), class: "btn btn-default dropdown-toggle" %>
						</td>
					</tr>
				</tbody>
			</table>
			<!-- Second Submit Button  -->
			<p class="text-right">
				<%= submit_tag "Submit", name: nil, class: "btn btn-primary btn-md" %>
			</p>
		</div>
	</div> 
</div> --><!-- end of container
<% end %> 
<!-- end of form_tag  -->

	<!-- Sidebar panel  -->
	<div class="sidebard-panel">
	    <div>
	        <h4><strong>Comentarios</strong> <span class="badge badge-info pull-right">16</span></h4>
	        <div class="feed-element">
	            <a href="#" class="pull-left">
	                <!-- <img alt="image" class="img-circle" src="https://dl.dropboxusercontent.com/u/32573052/a1.jpg"> -->
	                <div class="team-member">
	                    <%= image_tag(Gravatar.new("orendon@gmail.com ").image_url+"?s=130", class:"img-responsive img-circle avatar-comments") %>
	                 </div>
	            </a>
	            <div class="media-body">
	                Debemos tener en cuenta el nuevo POT dentro de la inversi贸n.
	                <br>
	                <small class="text-muted">Hoy 4:21 pm</small>
	            </div>
	        </div>
	        <div class="feed-element">
	            <a href="#" class="pull-left">
			                <!-- <img alt="image" class="img-circle" src="https://dl.dropboxusercontent.com/u/32573052/a2.jpg"> -->
	              <div class="team-member">
	                  <%= image_tag(Gravatar.new("sodeve619@gmail.com").image_url+"?s=130", class:"img-responsive img-circle avatar-comments") %>
	               </div>
	            </a>
	            <div class="media-body">
	                Luego de analizar todas las variables, la mejor decisi贸n son bodegas en Envigado.
	                <br>
	                <small class="text-muted">Ayer 2:45 pm</small>
	            </div>
	        </div>
	        <div class="feed-element">
	            <a href="#" class="pull-left">
	                <!-- <img alt="image" class="img-circle" src="https://dl.dropboxusercontent.com/u/32573052/a3.jpg"> -->
	                <div class="team-member">
	                    <%= image_tag(Gravatar.new("isabelita324@gmail.com").image_url+"?s=130", class:"img-responsive img-circle avatar-comments") %>
	                 </div>
	            </a>
	            <div class="media-body">
	                Lo revisaremos en comite primario y les estaremos contando.
	                <br>
	                <small class="text-muted">Ayer 1:10 pm</small>
	            </div>
	        </div>
	        <div class="feed-element">
	            <a href="#" class="pull-left">
	                <!-- <img alt="image" class="img-circle" src="https://dl.dropboxusercontent.com/u/32573052/a4.jpg"> -->
	                <div class="team-member">
	                    <%= image_tag(Gravatar.new("reddrum7@gmail.com").image_url+"?s=130", class:"img-responsive img-circle avatar-comments") %>
	                 </div>
	            </a>
	            <div class="media-body">
	                Esperemos la decisi贸n de la alcaldia y lo analizamos juntos.
	                <br>
	                <small class="text-muted">Lunes 8:37 pm</small>
	            </div>
	        </div>
	        <div class="feed-element">
	            <a href="#" class="pull-left">
	            </a>
	            <div class="media-body">
	                <u>Leer mas...</u>
	                <br>
	            </div>
	        </div>
	    </div> <!-- End of Sidebar panel  -->

	    <!-- Estadisticas  -->
	    <div class="m-t-md">
	        <h4><strong>Estadisticas</strong></h4>
	        <div>
	            <ul class="list-group">
	                <li class="list-group-item">
	                    <span class="badge badge-warning">4216</span>
	                    Propiedades online
	                </li>
	                <li class="list-group-item ">
	                    <span class="badge badge-info">8%</span>
	                    Valorizaci贸n promedio
	                </li>
	                <li class="list-group-item ">
	                    <span class="badge badge-success">5%</span>
	                    Incremento anual
	                </li>
	                <li class="list-group-item ">
	                    <span class="badge badge-danger">347</span>
	                    Nuevas propiedades sector
	                </li>
	            </ul>
	        </div>
	    </div> <!-- end of estadisticas  -->



	<!-- Morris Script for Graphs  -->
	<script> 
	var keys = [];
	var labels = [];
	<% @properties.each_with_index do |p, i| %>
		keys.push('m2_sale_value_<%= i %>');
		labels.push('Valor M2');
	<% end %>
	new Morris.Line({
		element: 'm2_chart',
		data: $('#m2_chart').data('properties'),

		xkey: 'date',
		ykeys: keys,
		labels: labels,
		onlyIntegers: true
	});
	</script> <!-- end of Morris Script  -->

	<!-- jQuery -->
	<script src="js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="js/bootstrap.min.js"></script>

	<!-- Menu Toggle Script -->
	<script>
	$("#menu-toggle").click(function(e) {
	    e.preventDefault();
	    $("#wrapper").toggleClass("toggled");
	});
	</script>
