<!DOCTYPE html>
<html>
<head>
  <title>MetroFlow</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<!-- Morris.js cdn --> 
   <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
 <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>

 <!-- Animation CSS -->
 <link href="css/animate.min.css" rel="stylesheet">


</head>
<body id="page-top">
	<!-- NavBar -->
	<div class="navbar-wrapper">
		<% if user_signed_in? %> 
		   <%= render 'shared/post_navbar' %> 
		<% else %>
		  <%= render 'shared/pre_navbar' %> 
		<% end %>

	</div> <!-- end of NavBar -->

<!-- MAIN CONTAINER -->  
<!-- <div class="container"> -->

<%= yield %>

<!-- </div>  end of main container -->

</body>

<!-- <footer>
	<div class="container">
		<div class="row">
			<div class="col-md-4 text-right">
				<span class="copyright">Copyright &copy; MetroFlow LLC 2015</span>
			</div>
			<div class="col-md-4">
				<ul class="list-inline social-buttons">
					<li><a href="https://twitter.com/monecoins"><i class="fa fa-twitter"></i></a></li>
					<li><a href="https://www.facebook.com/pages/MoNe/1765869786971858"><i class="fa fa-facebook"></i></a></li>
					<li><a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</footer> -->


</html>
